/* Table of Contents
   ==================================================
   
    # -- Different Width
	# -- Different Height of .mid-content

   ==================================================
*/

/* # -- Different Width
================================================== */

/*Smart Phones*/
@media all and (max-width: 415px), all and (max-device-width: 415px) {

	.full-body {
		background-size: 800px 700px;
		min-height: 700px;
		height: 700px;
	}

	html, body {
		min-width: 650px;
	}

	.main {
		min-width: 650px;
	}

	#main-close-window {
		margin-top: 20px;
	}

	#social-network {
		margin-left: 530px;
		margin-top: -50px;
	}

	#prices-pdf {
		margin-left: 10px;
		margin-top: 50px;
	}

	#pdf {
		height: 700px;
		width: 600px;
	}

	.privacy-line {
		margin-left: -50px;
	}

	.tagline img {
		/*width: 70%;
		height: 75%;*/
		width: 270px;
		margin-top: 44px;
		margin-left: 40px;
	}
	.graybar-line {
		margin-left: 155px;
	}

	.graybar-subline {
		margin-left: 457px;
	}

	.container {
	}
}
/*Tablet Devices*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.full-body {
		background-size: 850px 700px;
		min-height: 700px;
		height: 700px
	}

	html, body {
		min-width: 768px;
	}

	.main {
		min-width: 768px;
	}

	#social-network {
		margin-left: 620px;
		margin-top: -50px;
	}

	#main-close-window {
		margin-top: 80px;
	}

	#prices-pdf {
		margin-left: 9%;
		margin-top: 15%;
	}

	#pdf {
		height: 700px;
		width: 700px;
	}

	.tagline img {
		/*width: 70%;
		height: 75%;*/
		width: 270px;
		margin-top: 30px;
	}
	.graybar-line {
		margin-left: 285px;
	}

	.graybar-subline {
		margin-left: 587px;
	}

}

@media all and (max-width: 415),
	all and (max-device-width: 415) {

	.container-fluid {
		margin-left: 0;
		margin-right: 0;
	}
}