/* Table of Contents
   ==================================================
   
    # -- Different Width
	# -- Different Height of .mid-content

   ==================================================
*/

/* # -- Different Width
================================================== */


@media all and (max-width: 415px), all and (max-device-width: 415px) {

	.full-body {
		background-size: 850px 700px;
		min-height: 700px;
		height: 700px
	}

	html, body {
		min-width: 768px;
	}

	.main {
		min-width: 768px;
	}

	.tagline img {
		/*width: 70%;
		height: 75%;*/
		width: 270px;
		margin-top: 30px;
	}
	.graybar-line {
		margin-left: 285px;
	}

	.graybar-subline {
		margin-left: 590px;
	}

	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.full-body {
		background-size: 850px 700px;
		min-height: 700px;
		height: 700px
	}

	html, body {
		min-width: 768px;
	}

	.main {
		min-width: 768px;
	}

	.tagline img {
		/*width: 70%;
		height: 75%;*/
		width: 270px;
		margin-top: 30px;
	}
	.graybar-line {
		margin-left: 285px;
	}

	.graybar-subline {
		margin-left: 590px;
	}

}

@media all and (max-width: 415),
	all and (max-device-width: 415) {

	.container-fluid {
		margin-left: 0;
		margin-right: 0;
	}
}